<div class="conversations">
<div id="list-example" class="list-group">
  <h1>Messages</h1>
  <div class="conversation_box">
    <% @all_interactors_id.each do |id| %>
    <a class="list-group-item list-group-item-action" href="/messages/new?from=<%= session[:user_id]%>&to=<%= id %>">
    <%= User.find(id).username %>
    </a>
     <% end %>
   </div>
  </div>
</div>