<div class="registration-main-container">
    <h1><span class="good">Good</span>Rents</h1>

    <div class="registration-container">
        <h2>New User Registration</h2>
        <form class="signup-form needs-validation" novalidate action="/users" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input id="username" class="form-control" type="text" name="user_name" placeholder="User name" required>
            <div id="username-feedback" class="invalid-feedback">Enter a username</div>

            <input id="email" class="form-control" type="email" name="email" placeholder="Email" required>
            <div id="email-feedback" class="invalid-feedback">Enter an email address</div>

            <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>
            <div id="password-feedback" class="invalid-feedback">Enter a password</div>
            <button class="register-button btn btn-secondary">Register New User</button>
        </form>
    </div>
</div>

<% if @errors %>
    <% @errors.each do |error| %>
        <div class="form-errors"><%= error %></div>
    <% end %>
<% end %>

<script>

    // Bootstrap validation
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var form = $('.signup-form')[0];
    // prevent submission
    form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            $('#password').val('');
        }
        form.classList.add('was-validated');
    }, false);

</script>
