<h1>User and Property information registry</h1>
<form class="signup-form" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <div class="userinfo">
    <input id="username" type="text" name="user_name" value="" placeholder="User name"> <br>
    <input id="email" type="text" name="email" value="" placeholder="Email"> <br>
    <input id="password" type="password" name="password" value="" placeholder="Password">
  </div>
</form>

<script>

    $('.register-button').on('click', function() {
        if () {

        }
    })

</script>
