// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#likesCount{
  display: inline-block;
  margin: 5px;
  background-color: #009c51;
  padding: 5px;
 }
.color{
  background-color: red;
  
}
