// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#likesCount {
  display: inline-block;
  margin: 5px;
  background-color: #009c51;
  padding: 5px;
 }

.color {
  background-color: red;
  
}

.new-review-container {
	margin: 5px;
}

.new-review-title {
	margin: 25px 0 25px 50px;
}

.new-review-form {
	display: flex;
	flex-direction : column;
	margin-left: 50px;
}

.new-review-top-container {
	display: flex;
}

.ratings-container {
	margin-left: 100px;
}

.ratings-container > * {
	margin-bottom: 8px;
}

.new-review-bottom-container {
	margin-top: 50px;
}

.propertyInfo {
	display: flex;
	flex-direction: column;
}

.new-review-textarea {
	resize: none;
}

.create-review-button {
	vertical-align: top;
	margin-left: 50px;
}



