* {
  font-family: 'Noto Sans', sans-serif;
}

.good {
  color: red;
}

.center_logout {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logout {
  border: none;
  padding: none;
  background: none;
}

