.search-input-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#search-input {
	width: 70%;
	margin: 40px;
	font-size: 30px;
}

.marker {
	position: fixed;
	background-color: blue;
}

.map-reviews-container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	background-color: #e6e6e6;
	border: 3px solid #cccccc;
}

#search-map {
	height: 600px;
	width: 70%;
}

.reviews-container {
	width: 30%;
	box-shadow: 3px 0 5px 0 black;
	margin: 4px;
	background-color: #80BE40;
	padding: 2px;
}

.reviews-header {
	// border-bottom: 1px solid black;
}

.underline {
	border: 1px solid black;
	width: 70%;
	margin: 0 auto;
}

.reviews-header h2 {
	text-align: center;
}

.reviews-list a:hover {
	text-decoration: none;
}

.review {
	border: 2px solid black;
	margin: 15px 5px;
	color: black;
	padding: 10px;
	border-radius: 5px;
}

.review-comment {
	font-size: 18px;
}

.review-username {
	text-align: right;
}

.review-username p {
	font-style: italic;
	margin: 0;
}

.review-username .username {
	margin-left: 10px;
}

.create-review-button-container {
	text-align: center;
	font-size: 25px;
}

.no-review-container {
	text-align: center;
}

.no-reviews-text {
	font-size: 20px;
	margin: 20px 0;
}

.create-review-button {
	font-size: 25px;
}


