.goodrents-title {
	font-size: 50px;
	margin: 20px;
	color: darkgrey;
}

.search-input-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#search-input {
	width: 70%;
	margin: 20px;
	font-size: 30px;
}

.marker {
	position: fixed;
	background-color: blue;
}

.map-reviews-container {
	display: flex;
}

#search-map {
	height: 600px;
	width: 70%;
}

.reviews-container {
	width: 30%;
}